.dropdown-list {
    display: none;
    flex-direction: column;
    color: #5a6268;
}

.dropdown-item {
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: aqua;
}

.col {
    display: none;
}
body {
    background-image: url("1979296.jpg");
}